.modalContainer {
  display: flex;
  flex-direction: column;
}

.modalContainer > Button {
  width: 120px;
  margin: 10px;
  text-align: center;
}

.modalContainer > div {
  display: flex;
  flex-direction: column;
}
.modalContainer > div > Button {
  width: 120px;
  margin: 10px;
  text-align: center;
}
